@charset "ISO-8859-1";


h1{
	font-family:georgia;
	font-size:175%;
}
h2{
	font-family:georgia;
	font-size:175%;
}

.margin{
	  margin-top : 100px;
}

.fixPadding{
	
}

@media  screen and (max-width: 768){
.margin{
  margin-top : 15%;
}	
}
