@charset "ISO-8859-1";


* {
	font-family: 'Montserrat', sans-serif;
}

 body{
     width:100%;
     height:100%;
     overflow-x: hidden;
 }


a {
	font-family: 'Montserrat-Bold', sans-serif !important;
    font-size: 17px;
}

.margin{
	  margin-top : 10%;
}

.fixPadding{
	
}

@media  screen and (max-width: 768){
.margin{
  margin-top : 15%;
}	
}

* { z-index: 2; }
.particle, .particle > canvas, #bg { z-index: -1 !important; } 


#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white; /* this was my color */
    left: 0px;
    top: 0px;
}

.clear {
	background-color: rgba(0,0,0,0);
}

